@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(/font/Montserrat-Regular.eot) format("embedded-opentype");
  src: local("Montserrat-Regular"), url(/font/Montserrat-Regular.woff) format("woff"); }

/*@font-face{font-family:'Montserrat Light';
    font-style:normal;font-weight:500;src:local('Montserrat-Light'),url(/font/Montserrat-Light.eot) format('embedded-opentype');
    src:local('Montserrat-Light'),url(/font/Montserrat-Light.woff) format('woff')}*/
/*@font-face{font-family:'Montserrat Thin';font-style:normal;font-weight:600;src:local('Montserrat-Thin'),url(/font/Montserrat-Thin.eot) format('embedded-opentype');
            src:local('Montserrat-Thin'),url(/font/Montserrat-Thin.woff) format('woff')}*/
/*@font-face{font-family:'Montserrat Bold';font-style:normal;font-weight:700;src:local('Montserrat-Bold'),url(/font/Montserrat-Bold.eot) format('embedded-opentype');
           src:local('Montserrat-Bold'),url(/font/Montserrat-Bold.woff) format('woff')}*/
@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 300;
  src: local("Lilita One"), local("LilitaOne"), url(/font/LilitaOne-Regular.eot) format("embedded-opentype");
  src: local("Lilita One"), local("LilitaOne"), url(/font/LilitaOne-Regular.woff) format("woff"); }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.vcenter {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.fsForm .form-control {
  max-width: 100% !important; }

.fsBody .fsSubField {
  width: 49%; }

.input-group-addon {
  font-weight: inherit; }

.btn {
  font-weight: inherit; }

.black {
  color: #333; }

.btn-transWhite {
  background: transparent;
  border: 1px solid #eee;
  color: #eee; }

.btn-transWhite:hover {
  color: #eee;
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.75); }

.btn-blue {
  color: #fff;
  background-color: #4A90E2;
  border-color: #4A90E2;
  border-radius: 8px;
  font-size: 18px;
  text-transform: uppercase;
  -moz-box-shadow: 0 5px 0 0 #265387;
  box-shadow: 0 5px 0 0 #265387;
  padding: 20px 20px;
  padding-bottom: 15px; }

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari */
  transform: scale(1.1);
  color: #fff;
  background-color: #4A90E2;
  border-color: #4A90E2;
  border-radius: 8px;
  font-size: 18px;
  text-transform: uppercase;
  -moz-box-shadow: 0 5px 0 0 #265387;
  box-shadow: 0 5px 0 0 #265387;
  padding: 20px 20px;
  padding-bottom: 15px; }

body {
  color: #9b9b9b;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: normal; }

p {
  min-height: 10px; }

.btn p {
  margin: 0; }

.divider {
  margin-bottom: 15px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.faded {
  opacity: .3; }

.orange {
  color: #ff6e1a; }

h1, h2, h3, h4 {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 15px 0; }

h1 {
  color: #5B595B;
  font-size: 52px; }

h2 {
  color: #9b9b9b;
  font-size: 42px; }

h3 {
  color: #5B595B;
  font-size: 32px; }

h4 {
  color: #5B595B;
  font-size: 22px; }

.trans-black {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%; }

.width30 {
  width: 30%; }

.width50 {
  width: 50%; }

.width80 {
  width: 80%;
  margin: auto; }

.editable {
  transition: box-shadow 0.3s ease;
  position: relative;
  border-radius: 10px; }
  .editable .edit-region span {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease; }

.editable:hover {
  box-shadow: 0 0 9px 0 #21b5ff; }
  .editable:hover .edit-region span {
    transition: background-color 0.3s ease;
    display: block;
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    background-color: #333;
    color: #09c; }
  .editable:hover .edit-region span:hover {
    background: #4d4d4d; }

.getInTouch-btn {
  border-radius: 8px;
  background: #1FC375;
  -moz-box-shadow: 0 5px 0 0 #3A9222;
  box-shadow: 0 5px 0 0 #3A9222;
  padding: 20px 20px;
  padding-bottom: 10px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-align: center; }
  .getInTouch-btn .icon {
    font-size: 36px;
    line-height: 32px;
    margin-right: 15px; }
  .getInTouch-btn .text {
    display: block;
    line-height: 16px;
    font-size: 16px;
    float: right; }
  .getInTouch-btn p {
    margin: 0; }

.getInTouch-btn:hover {
  color: #fff; }

header {
  background: linear-gradient(#c9353f, #912d2d); }
  header a {
    color: #fff; }
  header nav.navbar-default {
    border-radius: 0;
    border: 0;
    min-height: 0; }
  header .navbar {
    background-color: #660000;
    text-transform: uppercase;
    margin: 0; }
  header .navbar-collapse {
    padding: 0;
    margin: 0; }
  header .navbar-nav {
    display: block;
    width: 100%; }
  header .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 60px; }
  header .navbar-default .navbar-nav li:hover {
    background: none; }
  header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: white; }
  header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus {
    color: white;
    text-decoration: underline; }
  header .navbar-nav > li:last-child {
    float: right; }
  header .navbar-default .navbar-toggle {
    background: #C9353F;
    border: 0 solid #fff; }
  header .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }
  header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
    background-color: white;
    border: 0 solid #C9353F; }
    header .navbar-default .navbar-toggle:hover .icon-bar, header .navbar-default .navbar-toggle:focus .icon-bar {
      background: #C9353F; }
  header #header-top {
    padding: 20px 15px; }
  header .getInTouch-btn {
    margin-bottom: 10px;
    float: right; }
  header #logo img {
    width: 360px; }
  header #header-right {
    text-align: right; }
    header #header-right a {
      color: #fff;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
      text-align: center; }
    header #header-right a:hover {
      color: #eee; }
    header #header-right #header-phone {
      padding-top: 15px;
      padding-right: 5px; }
      header #header-right #header-phone .icon {
        margin-right: 10px;
        display: inline-block; }
  header #language-select {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px; }
    header #language-select a .icon {
      margin-right: 5px; }
    header #language-select a {
      cursor: pointer; }
  header #selectLanguageModal li a {
    color: #444; }

#alert-bar {
  padding: 25px 15px;
  padding-bottom: 15px;
  color: #111; }
  #alert-bar .icon-circle {
    color: #C9353F;
    margin: 0 10px; }
  #alert-bar .vcenter i {
    font-size: 40px;
    margin-bottom: 10px; }
  #alert-bar .icon-exclamation-circle {
    color: #C9353F; }
  #alert-bar .icon-times {
    color: #9b9b9b;
    cursor: pointer; }
  #alert-bar .icon-times:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari */
    transform: scale(1.05); }

#info-bar .alert {
  margin: 15px 0; }

.bxslider {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 500px; }
  .bxslider li {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    margin: 0;
    font-family: 'Lilita One';
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .bxslider li .trans-black {
      padding: 45px 0; }
    .bxslider li h1, .bxslider li h2, .bxslider li h3 {
      color: #fff;
      font-weight: 400; }
    .bxslider li h1 {
      font-size: 118px; }
    .bxslider li h2 {
      font-size: 72px; }
    .bxslider li h3 {
      font-size: 42px; }

strong {
  font-weight: bolder;
  color: #5B595B; }

.hasTable table {
  width: 100% !important; }

.hasTable table td {
  padding: 5px 15px; }

.feature-bg {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
  color: #eee;
  font-size: 20px;
  margin: 0; }
  .feature-bg h1, .feature-bg h2, .feature-bg h3 {
    color: #eee; }
  .feature-bg h1 {
    font-size: 48px; }
  .feature-bg .trans-black {
    width: 100%;
    padding: 45px 0; }

.feature-video-bg {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .feature-video-bg .videoHolder {
    position: relative; }
  .feature-video-bg .videoHolder::after {
    content: '';
    display: block;
    /* intrinsic aspect ratio */
    padding-bottom: 56.25%;
    height: 0; }
  .feature-video-bg iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .feature-video-bg .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .feature-video-bg .video-overlay .trans-black {
      width: 100%;
      padding: 35px 0; }
    .feature-video-bg .video-overlay h2 {
      color: #eee; }
    .feature-video-bg .video-overlay .btn {
      background: transparent;
      border: 1px solid #eee;
      color: #eee; }
    .feature-video-bg .video-overlay .btn:hover {
      box-shadow: 0 0 9px 0 #eee; }

#top-mid-btns {
  padding-bottom: 45px; }

.mid-btns {
  padding-top: 25px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .mid-btns .item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 33%;
    padding: 15px;
    padding-bottom: 0; }
  .mid-btns .image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 25px; }
  .mid-btns .body {
    font-size: 18px; }
    .mid-btns .body h1 {
      font-size: 28px;
      font-weight: bold;
      color: #5B595B;
      margin: 15px 0; }

#howToStart {
  padding: 25px 15px; }
  #howToStart .icon {
    margin-right: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start; }
  #howToStart .icon:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari */
    transform: scale(1.05);
    text-decoration: none; }
  #howToStart .row .banner {
    background-image: url("/content/images/smallright.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 80px 0;
    font-size: 36px;
    color: #eee;
    text-transform: uppercase;
    font-weight: bold; }
  #howToStart .row div:first-child .banner {
    background-image: url("/content/images/smallleft.jpg"); }
  #howToStart .item {
    padding: 15px 0; }
  #howToStart .body {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }

#events-video {
  height: 400px; }

#btn-find-school {
  color: #e48f03;
  border-radius: 8px;
  background-color: #f9d88e;
  box-shadow: #ffaf2b 0 4px 0 0;
  padding: 20px 20px;
  padding-bottom: 10px; }

#student-quotes {
  padding-bottom: 45px;
  text-align: center;
  font-size: 18px; }
  #student-quotes .text h4, #student-quotes .text h3 {
    text-transform: capitalize; }
  #student-quotes .text h4:first-of-type {
    color: #9B9B9B;
    font-size: 28px; }
  #student-quotes .title {
    padding-top: 45px;
    padding-bottom: 40px; }
  #student-quotes .image img {
    display: inline-block;
    padding-bottom: 20px; }

#three-reasons .mid-btns {
  padding-top: 45px; }

#three-reasons .item {
  padding-top: 0;
  padding-bottom: 45px; }

#three-reasons img {
  margin-bottom: 15px;
  margin-top: 0; }

#support #support5Lang {
  text-align: left; }

#support h2 {
  margin-top: 35px;
  color: #5B595B; }

#support a {
  font-size: 22px; }

#support img {
  margin-bottom: 15px; }

#getInTouch {
  padding: 25px; }

#ContactForm .body {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

#ContactForm .innerForm {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

#ContactForm .icon {
  display: block;
  font-size: 60px;
  color: #1FC375;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center; }

#OurStaff {
  margin-bottom: 45px; }
  #OurStaff h3 {
    font-size: 42px; }
  #OurStaff .OurTeam {
    margin-top: 45px; }
  #OurStaff .Staffbox {
    width: 220px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: top; }
  #OurStaff .StaffFace {
    width: 160px;
    height: 160px;
    margin-top: 30px; }
  #OurStaff .StaffFlag {
    width: 70px;
    height: 47px;
    margin-top: 15px;
    margin-bottom: 15px; }
  #OurStaff .StaffName {
    font-size: 28px;
    margin-bottom: 5px;
    color: #5B595B; }
  #OurStaff .StaffTitle {
    font-size: 24px; }

#ourOffice {
  margin-bottom: 0; }

#btn-summer-course {
  color: #77ad47;
  border-radius: 8px;
  background-color: #b8e986;
  box-shadow: #76ad3e 0 4px 0 0;
  padding: 20px 20px;
  padding-bottom: 10px; }

#social-icons {
  text-align: center; }
  #social-icons a:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari */
    transform: scale(1.05); }
  #social-icons .icon {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px; }
  #social-icons .icon .icon {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 5px; }

#btn-fb {
  color: #eee;
  border-radius: 8px;
  background-color: #0C70B9;
  box-shadow: 0 4px 0 0 #0C486D;
  padding: 20px 20px;
  padding-bottom: 10px; }

#btn-yt {
  color: #eee;
  border-radius: 8px;
  background-color: #EC252B;
  box-shadow: 0 4px 0 0 #A40000;
  padding: 20px 20px;
  padding-bottom: 10px; }

#btn-tw {
  color: #eee;
  border-radius: 8px;
  background-color: #6FCDF5;
  box-shadow: 0 4px 0 0 #4996B8;
  padding: 20px 20px;
  padding-bottom: 10px; }

footer {
  background: linear-gradient(#c9353f, #912d2d);
  padding: 40px 0;
  color: #fff;
  text-align: center;
  font-size: 24px; }
  footer a {
    color: #fff; }
  footer a:hover, footer a:focus {
    text-decoration: none; }
  footer a .icon {
    font-size: 35px; }
  footer .title {
    padding-bottom: 15px;
    font-size: 26px; }
  footer #footer-top .icon {
    font-size: 60px; }
  footer #footer-mid {
    padding: 40px 20px; }

.schoolList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .schoolList .school {
    position: relative;
    padding: 10px;
    width: 300px;
    height: 480px;
    background-position: center center;
    background-size: cover;
    margin: 25px;
    border-radius: 5px;
    text-align: center; }
    .schoolList .school .liner {
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      height: 100%;
      padding: 10px; }
    .schoolList .school .top {
      height: 90%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      color: #fff;
      font-size: 24px;
      font-weight: 400; }
      .schoolList .school .top .location {
        padding-top: 15px;
        padding-left: 35px;
        text-align: left;
        width: 100%; }
        .schoolList .school .top .location .icon {
          margin-right: 10px; }
      .schoolList .school .top .usp {
        padding-left: 35px;
        margin-top: 15px;
        font-size: 15px;
        text-transform: uppercase;
        text-align: left;
        width: 100%; }
        .schoolList .school .top .usp .pendant {
          display: block;
          float: left;
          vertical-align: middle;
          text-align: center;
          margin-right: 10px; }
          .schoolList .school .top .usp .pendant .icon {
            display: block;
            font-size: 18px;
            font-weight: 400; }
    .schoolList .school .bot {
      height: 10%; }
      .schoolList .school .bot .btn {
        font-size: 18px;
        width: 70%;
        text-transform: uppercase; }

#features {
  padding-top: 45px; }
  #features .icon {
    font-size: 64px;
    padding-bottom: 15px; }
  #features .feature {
    font-size: 18px;
    text-align: center;
    color: #5B595B;
    margin-bottom: 45px; }
    #features .feature .pendant {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 15px; }
      #features .feature .pendant .icon {
        display: block;
        font-size: 34px;
        padding-bottom: 0; }

#introduction {
  margin: 50px 0; }
  @media screen and (max-width: 768px) {
    #introduction {
      text-align: center; }
      #introduction .img-circle {
        margin: auto;
        margin-bottom: 20px;
        max-width: 200px; } }

#intensity {
  margin: 50px 0; }
  @media screen and (max-width: 768px) {
    #intensity {
      text-align: center; }
      #intensity .img-circle {
        margin: auto;
        margin-bottom: 20px;
        max-width: 200px; } }

#intensity-caps .icon {
  font-size: 40px; }

#intensity-caps .selected {
  color: #5B595B; }

#intensity-caps .intensity-levels {
  padding-top: 20px; }

#location {
  text-align: center;
  padding: 45px 0; }

#location-map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#stations {
  text-align: center;
  padding: 45px 0; }
  #stations h4 {
    color: #9B9B9B; }
  #stations .station {
    height: 110px;
    margin: 15px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    color: #eee; }
    #stations .station .title {
      font-size: 24px;
      font-weight: 900; }
    #stations .station .trans-black {
      padding: 16px 35px;
      text-align: center; }
      #stations .station .trans-black div {
        display: inline-block; }
      #stations .station .trans-black .icon {
        color: #C9353F;
        margin: 0 5px; }

#courseSelect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 45px;
  border-bottom: 1px solid #eee; }
  #courseSelect .course {
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 .5px;
    border: 1px solid #fff;
    border-bottom: 0;
    cursor: pointer;
    color: #5B595B;
    padding-bottom: 20px; }
    #courseSelect .course .icon {
      background-color: #5B595B;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      font-size: 26px;
      margin: 20px 0;
      line-height: 60px;
      text-align: center;
      color: #eee;
      display: inline-block; }
  #courseSelect .course:hover, #courseSelect .course.active {
    background-color: #EBEBEB;
    border: 1px solid #eee;
    border-bottom: 0; }
    #courseSelect .course:hover .icon, #courseSelect .course.active .icon {
      background-color: #C9353F; }

.cat-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .cat-line .line {
    background-color: #5B595B;
    height: 5px;
    width: 25%;
    border-radius: 5px; }
  .cat-line .cat {
    padding: 35px 35px; }

.list-as-table ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0; }
  .list-as-table ul li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 10px; }

#course-details .course-detail {
  display: none; }

#course-details #course-lengths {
  font-size: 22px; }
  #course-details #course-lengths .title {
    color: #5B595B;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 20px; }
  #course-details #course-lengths .body {
    color: #B8E986;
    font-weight: bolder;
    padding: 15px 0; }
  #course-details #course-lengths .term-length {
    text-align: center; }
    #course-details #course-lengths .term-length p {
      display: inline; }

#course-details #course-terms {
  font-size: 22px; }
  #course-details #course-terms ul {
    color: #EDC755;
    font-weight: bolder; }

#course-details #course-schedule .title {
  padding-bottom: 25px; }
  #course-details #course-schedule .title .icon {
    display: block;
    font-size: 60px;
    color: #5B595B;
    font-weight: normal; }

#course-details #course-termSteps {
  /*hide the outline behind the border*/ }
  #course-details #course-termSteps input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    cursor: pointer;
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    width: 100%; }
  #course-details #course-termSteps input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px; }
  #course-details #course-termSteps input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #B8E986;
    margin-top: -25px;
    cursor: pointer; }
  #course-details #course-termSteps input[type=range]:focus {
    outline: none; }
  #course-details #course-termSteps input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc; }
  #course-details #course-termSteps input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px; }
  #course-details #course-termSteps input[type=range]::-moz-range-thumb {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #B8E986;
    cursor: pointer; }
  #course-details #course-termSteps input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px; }
  #course-details #course-termSteps input[type=range]::-ms-track {
    width: 100%;
    margin: 20px 0;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent; }
  #course-details #course-termSteps input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px; }
  #course-details #course-termSteps input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px; }
  #course-details #course-termSteps input[type=range]::-ms-thumb {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #B8E986;
    margin-bottom: -25px;
    cursor: pointer; }
  #course-details #course-termSteps input[type=range]:focus::-ms-fill-lower {
    background: #888; }
  #course-details #course-termSteps input[type=range]:focus::-ms-fill-upper {
    background: #ccc; }
  #course-details #course-termSteps .stepContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 90%;
    margin: 20px auto; }
    #course-details #course-termSteps .stepContainer .line {
      width: 100%;
      background-color: #9B9B9B;
      height: 6px;
      border-radius: 5px; }
    #course-details #course-termSteps .stepContainer .ball {
      background-color: #B8E986;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 0; }
  #course-details #course-termSteps .stepsBox {
    padding-bottom: 25px; }
    #course-details #course-termSteps .stepsBox .termStep {
      display: none; }
    #course-details #course-termSteps .stepsBox .termStep:first-of-type {
      display: block; }
  #course-details #course-termSteps .labels {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    margin: 20px auto; }
    #course-details #course-termSteps .labels .label {
      font-weight: bold;
      color: #5B595B;
      display: block;
      text-align: right;
      width: 50%;
      text-transform: uppercase; }
    #course-details #course-termSteps .labels .label:first-child {
      text-align: left; }

#course-details #course-costs .title {
  padding-bottom: 25px; }
  #course-details #course-costs .title .icon {
    display: block;
    font-size: 60px;
    color: #5B595B;
    font-weight: normal; }

#course-details .insuranceNote {
  padding: 25px 0; }

#course-details .demographiesContainer {
  padding: 25px;
  border-radius: 10px;
  margin-top: 25px; }
  #course-details .demographiesContainer .demo-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  #course-details .demographiesContainer .title {
    color: #eee; }
  #course-details .demographiesContainer .percent {
    background-color: #4A90E2;
    height: 8px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }

#course-details #course-features {
  text-align: center; }
  #course-details #course-features .title {
    padding-bottom: 25px; }
  #course-details #course-features .icon {
    font-size: 64px;
    padding-bottom: 15px; }
  #course-details #course-features .feature {
    font-size: 18px;
    text-align: center;
    color: #5B595B;
    margin-bottom: 45px; }
    #course-details #course-features .feature .pendant {
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 15px; }
      #course-details #course-features .feature .pendant .icon {
        display: block;
        font-size: 34px;
        padding-bottom: 0; }

#accommodationBanner {
  margin-top: 0; }

.accomodationTables {
  padding-bottom: 45px; }
  .accomodationTables .sharehouse .heading {
    color: #4A90E2; }
  .accomodationTables .hostFamily .heading {
    color: #7ED321; }
  .accomodationTables .apartment .heading {
    color: #B5835D; }
  .accomodationTables .dorm .heading {
    color: #ED5565; }
  .accomodationTables .heading {
    padding: 35px 0; }
    .accomodationTables .heading h3 {
      color: inherit; }
    .accomodationTables .heading .icon {
      font-size: 64px; }
  .accomodationTables table {
    color: #5B595B;
    width: 100% !important;
    font-size: 20px; }
    .accomodationTables table td {
      padding: 15px; }
    .accomodationTables table tr:first-child td {
      color: #7ED321; }
    .accomodationTables table tr:first-child td:last-child {
      color: #4A90E2; }
    .accomodationTables table td:first-child {
      text-align: right;
      color: #333;
      padding-left: 0; }
    .accomodationTables table td:last-child {
      padding-left: 0; }
    .accomodationTables table tr:last-child td {
      text-align: center; }
  .accomodationTables table.table-xs {
    margin-bottom: 25px; }
    .accomodationTables table.table-xs td {
      text-align: center;
      padding: 0;
      padding-bottom: 15px;
      font-weight: normal;
      font-size: 20px; }
    .accomodationTables table.table-xs td.heading {
      font-weight: bold; }
    .accomodationTables table.table-xs td.title {
      padding: 0;
      font-size: 20px;
      font-weight: bold; }
    .accomodationTables table.table-xs tr:last-child td {
      font-size: 16px; }

#faq123 {
  font-size: 18px;
  padding: 45px 0; }

.colored-number {
  font-weight: bold;
  font-size: 58px;
  border-radius: 100%;
  line-height: 160px;
  width: 160px;
  margin: auto;
  margin-bottom: 25px; }

.colored-number.red {
  color: #A83944;
  background-color: #ED5565; }

.colored-number.yellow {
  color: #C7BD3A;
  background-color: #FFF469; }

.colored-number.green {
  color: #77B83E;
  background-color: #CFF2A3; }

#accommodationNote {
  border-radius: 5px;
  border: 2px solid #F5A623;
  color: #F5A623;
  font-size: 18px;
  padding: 22px;
  padding-bottom: 12px;
  margin-bottom: 55px; }

#goodDeal {
  padding-bottom: 45px; }
  #goodDeal img {
    margin: 15px auto; }

#shareHouseFaq {
  padding-top: 45px;
  text-align: center; }
  #shareHouseFaq .col-xs-12 {
    margin-bottom: 35px; }

#apartmentFaq {
  padding-top: 45px;
  text-align: center;
  padding-top: 45px; }
  #apartmentFaq .col-xs-12 {
    margin-bottom: 35px; }

#hostFamilyFaq {
  padding-top: 45px;
  text-align: center; }
  #hostFamilyFaq .col-xs-12 {
    margin-bottom: 35px; }

#terms {
  padding-top: 35px; }
  #terms b {
    color: #333;
    margin-bottom: 5px;
    display: inline-block; }
  #terms li {
    padding: 15px 0; }
  #terms li ul {
    padding: 15px; }
  #terms li li {
    padding: 5px; }

#faq {
  padding: 45px 0; }

#jobs {
  float: left;
  width: 20%;
  min-width: 190px; }
  #jobs .job {
    text-align: center;
    cursor: pointer;
    padding: 15px 0; }
    #jobs .job .icon {
      font-size: 60px;
      text-align: center;
      color: #4A90E2;
      margin-bottom: 15px; }
    #jobs .job .title {
      color: #5B595B;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold; }
    #jobs .job .detail {
      display: none; }
  #jobs .job:hover, #jobs .selected {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari */
    transform: scale(1.2); }
    #jobs .job:hover .title, #jobs .selected .title {
      color: #4A90E2; }

#jobsBox {
  padding-bottom: 55px;
  font-size: 18px; }
  #jobsBox .job-detail {
    float: right;
    width: 75%; }
    #jobsBox .job-detail h3 {
      color: #4A90E2; }
    #jobsBox .job-detail ol li {
      color: #4A90E2;
      padding: 8px; }
    #jobsBox .job-detail ol span {
      color: #000; }
    #jobsBox .job-detail .apply-link {
      margin: auto; }

#aboutUS {
  padding-bottom: 45px; }

@media screen and (max-width: 1200px) {
  header .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding: 10px 48px; } }

@media screen and (max-width: 992px) {
  header .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding: 10px 24px; }
  .bxslider {
    height: 350px; }
    .bxslider li {
      height: 350px;
      font-size: 22px; }
      .bxslider li .trans-black {
        padding: 25px 0; }
      .bxslider li h1, .bxslider li h2, .bxslider li h3 {
        color: #fff; }
      .bxslider li h1 {
        font-size: 82px; }
      .bxslider li h2 {
        font-size: 62px; }
      .bxslider li h3 {
        font-size: 42px; }
  .mid-btns {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .mid-btns .item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 45px 0; }
    .mid-btns .image {
      width: 40%; }
    .mid-btns .body {
      width: 60%;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      font-size: 18px;
      text-align: left; }
      .mid-btns .body h1 {
        font-size: 28px; }
  .student-quote {
    text-align: left;
    padding-bottom: 45px; }
    .student-quote .image {
      width: 35%;
      float: left;
      padding-right: 60px; }
    .student-quote .text {
      width: 65%;
      float: left; } }

@media screen and (max-width: 768px) {
  #logo {
    width: 100%;
    text-align: center; }
    #logo img {
      display: inline; }
  h1 {
    font-size: 42px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 22px; }
  h4 {
    font-size: 16px; }
  .bxslider {
    height: 250px; }
    .bxslider li {
      height: 250px;
      font-size: 16px; }
      .bxslider li .trans-black {
        padding: 20px 0; }
      .bxslider li h1, .bxslider li h2, .bxslider li h3 {
        color: #fff; }
      .bxslider li h1 {
        font-size: 42px; }
      .bxslider li h2 {
        font-size: 32px; }
      .bxslider li h3 {
        font-size: 22px; }
  .feature-bg {
    min-height: 200px; }
    .feature-bg h1 {
      font-size: 32px; }
    .feature-bg .trans-black {
      padding: 25px 0; }
  #howToStart .row .banner {
    padding: 40px 0; }
  #howToStart .icon {
    font-size: 16px; }
  .accomodationTables table {
    font-size: 16px; }
  .accomodationTables .heading {
    padding: 0;
    margin-top: 20px; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0 solid #fff; }
  ul.navbar-nav {
    margin: auto;
    padding: 0;
    width: 60%; }
  nav .navbar-nav li {
    border-bottom: 1px solid #eee; }
  nav .navbar-nav li:last-child {
    border-bottom: 0 solid #eee; }
  .mid-btns {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .mid-btns .item {
      width: 100%;
      display: block;
      padding-bottom: 0; }
    .mid-btns .image {
      width: 100%; }
    .mid-btns .body {
      width: 100%;
      text-align: center; }
  #support #support5Lang {
    text-align: center;
    padding-top: 25px; }
  #events-banner {
    top: -10%; }
  #student-quotes {
    padding-bottom: 45px; }
  .student-quote {
    text-align: center;
    padding-bottom: 45px; }
    .student-quote .image {
      width: 100%;
      float: none;
      padding-right: 0; }
    .student-quote .text {
      width: 100%;
      float: none; } }

@media screen and (max-width: 520px) {
  .feature-bg h1 {
    font-size: 24px; }
  #howToStart .row .banner {
    padding: 25px 0; } }

@media screen and (max-width: 420px) {
  #events-banner {
    top: 0; } }

.account header {
  margin-bottom: 25px; }

.account #logo {
  text-align: center;
  padding: 20px; }
  .account #logo img {
    display: inline-block; }

